* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Roboto', sans-serif;
}
/* Header */

header {
  position: relative;

  height: 600px;
  background-color: #0c325a;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

#background {
  width: 100% ;
  height: 80%;
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: absolute;
  bottom: 0;
}

.container {
  width: 70%;
  margin: auto;
}
.top {
  height: 70px;
  line-height: 70px;
}
.top::after {
  content: "";
  display: block;
  clear: both;
}
.logo {
  float:left;
  width: 15%;
}
.nav-left {
  float:left;
  width: 45%;
}

.nav-right {
  float:left;
  width: 40%;
  text-align:right;

}

.nav-right #plan {
  margin-top: 15px;
  margin-left: 10px;
  padding: 7px;
  background-color: #7cbb02;
  border: 1px solid #7cbb02;
  border-radius: 7px;
  color: #fff;
}

#login {
  width: 100px;
  margin-top: 15px;
  margin-left: 10px;
  padding: 7px;
  background-color: #0e325a;
  border: 1px solid #fff;
  border-radius: 7px;
  color: #fff;
}

.menu {
  list-style: none;

}

.menu li {
  display: inline-block;
}

.top li {
  margin: 0 10px;
}

.top li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.banner {
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

.banner h1 {
  font-size: 50px;
  color: #fff;
}

.banner button {
  margin-top: 25px;
  margin-left: 10px;
  padding: 15px;
  background-color: #7cbb02;
  border: 1px solid #7cbb02;
  border-radius: 7px;
  color: #fff;
}

/* /Header */
/* subtitle */
.sub-title {
  height: 140px;
  text-align: center;
  background-color: #d3d3d3;
}
.sub-title h2 {
  padding-top: 40px;
  padding-bottom: 20px;

}
.sub-title p {
  color: #808080;
}
/* /subtitle */
/* Tre box */
.box {
  position: relative;
  float: left;
  width: 30%;
  margin: 20px 1%
}
.left .img {
  height: 150px;
  width: 150px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/profile.svg);
}
.box h2 {
  color: #7cbb02;
  text-align: center;
  margin: 10px 0;
}
.box hr {
  width: 20%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box p {
  text-align: center;
  color: #838383;
}
.middle .img {
  height: 150px;
  width: 150px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/computer.svg);
}
.right .img {
  height: 150px;
  width: 150px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/doc.svg);
}
main .container::after {
  content: "";
  display: block;
  clear: both;

}
/* /Tre box */
/* Grafico finale */
.mount {
  float: left;
  margin-top: 20px;
  margin-right: 150px;
  height: 500px;
  width: 500px;
  background-image: url(../img/mountain.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  padding: 150px;
  margin-top: 50px;
}
hr {
  width: 95%;
  margin: auto;
  color: #808080;
}
.text p {
  color: #808080;
  font-size: 20px;
  margin-top: 15px;
  line-height: 25px;
}
section .container::after{
  content: "";
  display: block;
  clear: both;
}
/* /Grafico finale */
/* footer */
footer {
  height: 200px;
  background-color: #d3d3d3;
  margin-top: 30px;
}
.box-one {
  float: left;
  width: 50%;
  margin: 40px 1%
}
.box-two {
  float: left;
  width: 15%;
  margin-top: 40px;
}
.box-three {
  float: left;
  width: 30%;
  margin-top: 40px;
}
.box-three button {
  margin-top: 15px;
  margin-left: 10px;
  padding: 15px;
  background-color: #7cbb02;
  border: 1px solid #7cbb02;
  border-radius: 7px;
  color: #fff;
}
#secondbutton {
margin-left: 50px
}
/* /footer */
/* menu a tendina */
.box-two select {
  width: 100px;
  border: 1px solid white;
  border-radius: 7px;
  color: black;
}
